<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="spacer"></span>
  <mat-form-field appearance="fill">
    <mat-label>Theme</mat-label>
    <mat-select
      class="theme-select"
      [formControl]="currentTheme"
      [panelClass]="currentTheme.value!"
    >
      <mat-option *ngFor="let theme of themes" [value]="theme">
        {{ theme }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
