@import 'src/assets/style/variables';
@import 'src/assets/style/mixins';

.wrapper {
  margin: $medium-spacing;
  padding: $small-spacing;
  border-radius: $border-radius;

  &.error {
    @include center();
    min-height: $huge-spacing;
  }
}

.spinner {
  @include center();
  height: 100%;
}
