@use "@angular/material" as mat;

/**
 * Mixin to help set the defaults for a custom theme
 */
@mixin custom-theme($theme) {
  // Defaults
  @include mat.all-component-colors($theme);
  height: 100%;

  // Custom Variables
  $color-palettes: map-get($theme, color);
  $background-palette: map-get($color-palettes, background);
  $background: map-get($background-palette, background);

  // Custom Components
  & .mat-mdc-table,
  .mat-mdc-paginator,
  .mat-mdc-text-field-wrapper {
    background-color: $background !important;
  }
}

/**
 * Mixin to help set the defaults for a custom theme on delayed mat-select drop-down
 */
@mixin custom-theme-delayed($theme) {
  $color-palettes: map-get($theme, color);
  $background-palette: map-get($color-palettes, background);
  $background: map-get($background-palette, background);
  $primary-pallete: map-get($color-palettes, primary);
  $primary: mat.get-color-from-palette($primary-pallete, 500);

  background-color: $background;

  & .mat-mdc-option-active .mdc-list-item__primary-text {
    color: $primary !important;
  }
}
