// Color Definitions: Do not import these inside of components!

$black: #010101;
$white: #fefefe;

// Light Theme
$primary-light-50: #e3f0f2;
$primary-light-100: #b8dae0;
$primary-light-200: #89c2cb;
$primary-light-300: #5aa9b6;
$primary-light-400: #3696a6;
$primary-light-500: #138496;
$primary-light-600: #117c8e;
$primary-light-700: #0e7183;
$primary-light-800: #0b6779;
$primary-light-900: #065468;
$primary-light-A100: #98e7ff;
$primary-light-A200: #65dcff;
$primary-light-A400: #32d0ff;
$primary-light-A700: #19caff;

// Dark Theme

// Contrast Theme
