@import 'src/assets/style/themes/mixins';
@import 'src/assets/style/themes/light-theme';
@import 'src/assets/style/themes/dark-theme';
@import 'src/assets/style/themes/contrast-theme';

.title {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

mat-form-field {
  position: relative;
  top: 11px;
}

/*
 * To get around the mat-select list-box being created after css is loaded
 */

::ng-deep .light-theme {
  @include custom-theme-delayed($light-theme);
}

::ng-deep .dark-theme {
  @include custom-theme-delayed($dark-theme);
}

::ng-deep .contrast-theme {
  @include custom-theme-delayed($contrast-theme);
}
