<div [ngClass]="theme$ | async" class="mat-app-background">
  <app-header></app-header>
  <mat-sidenav-container>
    <mat-sidenav
      [opened]="sidenav$ | async"
      (openedChange)="openChanged($event)"
      mode="over"
    >
      <mat-nav-list>
        <a
          mat-list-item
          routerLinkActive="mdc-list-item--activated"
          (click)="openChanged(false)"
          [routerLink]="[route.path]"
          *ngFor="let route of routes"
          >{{ route.title }}</a
        >
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
